{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

    <div class="row float-center">
        <div class="col-md-8 text-center">
            <div class="col-md-6">
                <div class="card float-center m-4">
                    <div class="card-title mt-4">
                        <h4>Account Login</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="post">

                            {% csrf_token %}
                            
                            {% include 'partials/_messages.html' %}

                            <div class="form-group">
                                <input type="text" 
                                placeholder="Username"
                                class="form-control form-control-sm"
                                id="usernamefield"
                                name="username"
                                value="{{fieldValues.username}}">
                            </div>
                            <div id="invalid-feedback" style="display: none;">
                            </div>
                            <div class="form-group">
                                <input type="password" 
                                placeholder="Password"
                                class="form-control form-control-sm"
                                id="passwordfield"
                                name="password">
                                <small class="float-right mb-2 showPasswordToggle">SHOW</small>
                            </div>
                            

                            <input type="submit" value="Login" class="btn btn-block btn-sm btn-primary submit-btn">
                        </form>
                    </div>
                    <div class="container" style="margin-top: -20px; margin-bottom: 10px;">
                        <span class="text-lead lead" style="font-size: 16px;">Dont have an account? </span> <span><a href="{% url 'register' %}">Register</a></span>
                        <br>
                        <span class="text-lead lead" style="font-size: 16px;">Forgot password? </span> <span><a href="{% url 'request-password' %}">Reset</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}