{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

    <div class="row float-center">
        <div class="col-md-8 text-center">
            <div class="col-md-6">
                <div class="card float-center m-4">
                    <div class="card-title mt-4">
                        <h4>Reset account</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'request-password' %}" method="post">

                            {% csrf_token %}
                            
                            {% include 'partials/_messages.html' %}
                            <div class="form-group">
                                <input type="email" 
                                placeholder="Email"
                                class="form-control form-control-sm"
                                id="emailfield"
                                name="email"
                                value="{{values.email}}">
                            </div>
                            <div id="email-feedback" style="display: none;">
                            </div>

                            <input type="submit" value="Reset" class="btn btn-block btn-sm btn-primary submit-btn">
                        </form>
                    </div>
                    <div class="container" style="margin-top: -20px; margin-bottom: 10px;">
                        <span class="text-lead lead" style="font-size: 16px;">Go back to login</span> <span><a href="{% url 'login' %}">Login</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <script src="{% static 'js/register.js' %}"></script>

{% endblock %}