{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">

    <h3>Add Expense</h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
        </ol>
    </nav>

    
    <div class="card">
      <div class="card-body">
        <form action="{% url 'add-expense' %}" method="post">
          {% include 'partials/_messages.html' %}
          {% csrf_token %}
          <div class="form-group">
            <label for="Amount">Amount</label>
            <input type="number" class="form-control form-control-sm" name="amount" value="{{ values.amount}}">
          </div>
          <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}">
          </div>
          <div class="form-group">
            <label for="">Category</label>
            <select class="form-select form-control form-control-sm" name="category" id="">
              <option value="">Select category</option>
             {% for category in categories%}
              <option name="categorys" value="{{category}}">{{ category }}</option>
             {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="">Date of Expense</label>
            <input
              type="date"
              class="form-control form-control-sm"
              name="expense_date"
              value="{{ values.expense_date }}"
            />
          </div>
          <input type="submit" class="btn btn-default border border-primary text-primary" value="Save">
        </form>
      </div>
    </div>
</div>    
{% endblock %}

